<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.boot.open.mapper.TOpenApiMuiltDataMapper">

    <select id="insertBatch" parameterType="com.xy.boot.open.entity.TMuiltData">
        insert into t_open_api_muilt_data (relation_id,value,status,created,updated,created_by,updated_by) value
        <foreach collection='dataList' item='item' index='index' separator=','>
            (#{item.relationId},#{item.value},#{item.status},#{item.created},#{item.updated},#{item.createdBy},#{item.updatedBy})
        </foreach>
    </select>
</mapper>